fastapi==0.115.0
uvicorn[standard]==0.30.6
SQLAlchemy==2.0.32
pydantic==2.8.2
pydantic-settings==2.5.2
python-multipart==0.0.12
psycopg==3.2.9
psycopg-binary==3.2.9
boto3==1.28.39
pytest==7.4.2
httpx==0.24.1